html * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 95%;
    color: #cccccc;
    background-color: #363636;
    max-width: 850px;
    margin: 15px auto;
}

h1 {
    font-size: 140%;
    text-align: center;
}

h2, h3, h4, h5 {
    margin-top: 35px;
    font-size: 125%;
}

a {
    color: #0077cc;
    text-decoration: none;
}

th {
    font-size: 110%;
    color: #ffffff;
}

td {
    border: 1px solid black;
}

table, td {
    border-collapse: collapse;
    text-align: left;
    width: 815px;
    padding: 5px;
}

footer {
    text-align: center;
}